agate==1.6.3
asn1crypto==1.5.1
attrs==21.4.0
autopep8==1.6.0
Babel==2.10.1
boto3==1.24.1
botocore==1.27.1
certifi==2022.5.18.1
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.3
colorama==0.4.4
cryptography==3.4.8
dbt-core==1.1.0
dbt-extractor==0.4.1
dbt-postgres==1.1.0
dbt-snowflake==1.1.0
future==0.18.2
hologram==0.0.14
idna==3.3
importlib-metadata==4.11.4
isodate==0.6.1
jeepney==0.8.0
Jinja2==2.11.3
jmespath==1.0.0
jsonschema==3.1.1
kafka-python==2.0.2
keyring==23.5.1
leather==0.3.4
Logbook==1.5.3
MarkupSafe==2.0.1
mashumaro==2.9
minimal-snowplow-tracker==0.0.2
msgpack==1.0.3
networkx==2.8.2
oscrypto==1.3.0
packaging==21.3
parsedatetime==2.4
psycopg2-binary==2.9.3
py4j==0.10.9.3
pycodestyle==2.8.0
pycparser==2.21
pycryptodomex==3.14.1
PyJWT==2.4.0
pyOpenSSL==22.0.0
pyparsing==3.0.9
pyrsistent==0.18.1
pyspark==3.2.1
python-dateutil==2.8.2
python-dotenv==0.20.0
python-slugify==6.1.2
pytimeparse==1.1.8
pytz==2022.1
PyYAML==6.0
requests==2.27.1
s3transfer==0.6.0
SecretStorage==3.3.2
six==1.16.0
snowflake-connector-python==2.7.8
sqlparse==0.4.2
text-unidecode==1.3
toml==0.10.2
typing-extensions==4.2.0
urllib3==1.26.9
Werkzeug==2.1.2
zipp==3.8.0
